*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar{
    /* background-color: #fff !important; */
    box-shadow: none;
  }
  .navbar-brand{
    font-size:3 rem;
    text-transform: capitalize;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
   
  }
  .menu_active{
    font-weight: bold;
    border-bottom: 1px solid !important
  }
  .navbar a:hover{
    color: #3498db !important;
    
  }
  
  @media (max-width:991px){
    .navbar-brand{
      font-size: 1.5rem !important;
    }
    .menu_active{
      font-weight: bold;
      border-bottom: none;
    }
  }
  