@media screen and (max-width: 767px) {
    .nav__logo,
    .nav__toggle,
    .nav__name {
      display: none;
    }
  
    .nav__list {
      position: fixed;
      bottom: 2rem;
      background-color: var(--container-color);
      box-shadow: 0 8px 24px hsla(228, 81%, 24%, 0.15);
      width: 90%;
      padding: 30px 40px;
      border-radius: 1rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 36px;
      transition: 0.4s;
    }
  
    .page-content {
        /* margin-left: auto; */
        /* width: auto; */
        margin-left: 40rem;
        /* margin: auto; */
      transition: 0.4s;
    }
  }
  
  .nav__link {
    display: flex;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s;
  }
  
  .nav__link i {
    font-size: 1.25rem;
  }
  
  .nav__link:hover {
    color: var(--first-color);
  }
  
  .active-link {
    color: var(--first-color);
  }
  
  /* Break points */
  @media screen and (max-width: 320px) {
    .nav__list {
      column-gap: 20px;
    }
  }
  
  @media screen and (min-width: 576px) {
    .nav__list {
      width: 332px;
    }
  }
  
  @media screen and (min-width: 767px) {
    .container {
      margin-left: 7rem;
      margin-right: 1.5rem;
    }
  
    .nav {
      position: fixed;
      left: 0;
      margin-right: 4px;
      background-color: var(--container-color);
      box-shadow: 1px 0 4px hsla(228, 81%, 49%, 0.15);
      /* width: 84px; */
      width: 90px;
      height: 100vh;
      padding: 2rem;
      transition: 0.3s;
    }
  
    .nav__logo {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      margin-top: 2rem;
    }
  
    .nav__logo i {
      font-size: 1.25rem;
      color: var(--first-color);
    }
  
    .nav__logo-name {
      color: var(--title-color);
      font-weight: 600;
    }
  
    .nav__list {
      display: grid;
      row-gap: 2.5rem;
      /* margin-top: 10.5rem; */
      margin-top: 2rem;
    }
  
    .nav__content {
      overflow: hidden;
      height: 100%;
      /* margin-top: 15px; */
    }
  
    .nav__toggle {
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: var(--title-color);
      color: #fff;
      border-radius: 50%;
      font-size: 1.2rem;
      display: grid;
      place-items: center;
      /* top: 2.25rem; */
      /* right: -10px; */
      margin-left: 2px;
      cursor: pointer;
      transition: 0.4s;
    }
  
    .page-content {
      margin-left: 84px;
      /* margin-left: auto;
      margin-right: auto; */
      /* justify-content: center; */
      /* margin-right: auto; */
      /* width: auto; */
      transition: 0.4s;
      /* margin: auto; */
      /* align-items: center; */
      /* align-content: center; */
      
    
    }
  }
  
  .show-menu {
    width: 255px;
  }
  
  .rotate-icon {
    transform: rotate(180deg);
  }

  .bx{
    padding-left: 6px;
  }

  button{
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    /* border-radius: 0.5rem; */
    font-size: 1rem;
    font-weight: 500;
    color: var(--first-color);
    /* box-shadow: 0 4px 12px hsla(228, 81%, 49%, 0.15); */
    transition: 0.3s;
  }